<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xsl.culture">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.xsl.culture.mybasevideoview.CustomApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.xsl.culture.wxapi.WXPayEntryActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <!--这里填写你申请的app id-->
                <data android:scheme="com.xsl.culture" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mybasevideoview.view.PayNoticeActiviy"
            android:theme="@style/translucent"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"/>
        <activity
            android:name=".mybasevideoview.view.maskActivity"
            android:theme="@style/translucent" />
        <activity
            android:name=".mybasevideoview.view.DownloadActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".mybasevideoview.view.Transact2Activity"
            android:theme="@style/translucent" />
        <activity
            android:name=".mybasevideoview.view.Transact3Activity"
            android:theme="@style/translucent" />
        <activity
            android:name=".mybasevideoview.view.WordActivity"
            android:theme="@style/translucent" />
        <activity
            android:name=".mybasevideoview.view.ActionActivity"
            android:theme="@style/translucent" />
        <activity
            android:name=".mybasevideoview.view.AppliancesActivity"
            android:theme="@style/translucent" />
        <activity
            android:name=".mybasevideoview.view.AboutActivity"
            android:theme="@style/translucent" />
        <activity
            android:name=".mybasevideoview.view.RelateVerticalActivity"
            android:theme="@style/translucent" />
        <activity
            android:name=".mybasevideoview.view.RelateHorizonActivity"
            android:theme="@style/translucent" />
        <activity
            android:name=".mybasevideoview.view.ChapterActivity"
            android:theme="@style/translucent" />
        <activity
            android:name=".mybasevideoview.view.TransactActivity"
            android:theme="@style/translucent" />
        <activity
            android:name=".mybasevideoview.SubFilmActivity"
            android:screenOrientation="landscape" /> <!-- android:theme="@android:style/Theme.Translucent" 设置activity透明! -->
        <activity
            android:name=".mybasevideoview.view.langugueActivity"
            android:theme="@style/translucent" />
        <activity android:name=".mybasevideoview.ButterTestActivity" />
        <activity
            android:name=".mybasevideoview.MainPlayerActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".mybasevideoview.MainActivity"
            android:launchMode="standard"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>